.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // gap: 50px;
}

.home__text_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.contact__holds{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}
button{
    cursor: pointer;
    font-size: 1.5rem;
    padding:8px 20px ;
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

    

}

button:hover {
    background:var(--main-color);
    color:(white) ;
    transform: scale(1.1);
}


.H1{
    color:var(--main-color);
    margin: 0px;
    font-weight: 500;
    font-size: 6rem;
    line-height: 8rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typingEffect 2.5s steps(30,end);
}
.deby {
    min-width: 30%;
    min-height: 30%;
    height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-top: 20px;
  animation: imageAppear 3s ease-out;

  }
  

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 100%;
   
    animation: imageScale 2s ease-out;

  }

  @media screen and (max-width: 768px) {
    .deby {
      width: 80%; 
      height: auto; 
      margin-top: 10px; 
    }
  
    img {
      width: 100%;  
      height: auto; 
      object-fit: cover; 
    }
  }
  





@media screen and (max-width : 550px) {
    .home{
        flex-direction: column;
          justify-content: center;
        align-items: center;
    }

    .home__text_wrapper{
        margin-bottom: 20px;
    }
    .H1{
        font-size: 2rem;
        line-height: 5rem;
    }
    .contact__holds {
        margin-top: 20px;
    }

    button {
        font-size: 1.5rem;
        padding: 8px 20px;
    }
    
}

@media screen and (min-width : 551px) and (max-width : 768px){
    .home{
        flex-direction: column;
          justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .home__text_wrapper{
        margin-bottom: 20px;
    }
    .H1{
        font-size: 3rem;
        line-height: 6rem;
    }

    .contact__holds {
        margin-top: 20px;
    }

    button {
        font-size: 1.8rem;
        padding: 10px 25px;
    }
    
}

@media screen and (min-width : 769px) and (max-width : 990px){
    .home{
        flex-direction: column;
          justify-content: center;
        align-items: center;
    }
    .home__text_wrapper{
        margin-bottom: 20px;
    }
    .H1{
        font-size: 5rem;
        line-height: 8rem;
    }
    
    .contact__holds {
        margin-top: 20px;
    }

    button {
        font-size: 2rem;
        padding: 12px 30px;
    }
  
}

@keyframes typingEffect {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
    
}
@keyframes imageAppear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes imageScale {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}




  
  