.skills {
    padding: 50px 20px;
    background-color: var( --background-color);
    text-align: center;
  }
  
  .skills__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    margin-top: 30px;
  }
  
  .skills__wrapper_hold {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .skills__wrapper_hold:hover {
    transform: translateY(-10px);
  }
  
  .skills__icon {
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 15px;
    transition: color 0.3s ease-in-out;
  }
  
  .skills__icon:hover {
    color: #007bff ; /* Color change on hover */
  }
  
  .skills__txt {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .skills__txt:hover {
    color: #007bff; /* Color change on hover */
  }
  
  @media (max-width: 768px) {
    .skills__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  
    .skills__wrapper_hold {
      padding: 15px;
    }
  
    .skills__icon {
      font-size: 35px;
    }
  
    .skills__txt {
      font-size: 14px;
    }
  }
  